USE [master]
GO
/****** Object:  Database [QUANLYNHASACH]    Script Date: 13/10/2018 20:42:41 ******/
CREATE DATABASE [QUANLYNHASACH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYNHASACH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL\MSSQL\DATA\QUANLYNHASACH.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLYNHASACH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL\MSSQL\DATA\QUANLYNHASACH_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYNHASACH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYNHASACH]
GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[MACHUCNANG] [int] NOT NULL,
	[TENCHUCNANG] [nvarchar](100) NOT NULL,
	[TENMANHINHDUOCLOAD] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUCNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONGTY]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTY](
	[MACTY] [int] NOT NULL,
	[TENCTY] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[SODT] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[SOPHIEUNHAP] [int] NOT NULL,
	[MASACH] [int] NOT NULL,
	[SOLUONGNHAP] [int] NULL,
	[THANHTIEN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPHIEUNHAP] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_SACH_TACGIA]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_SACH_TACGIA](
	[MASACH] [int] NOT NULL,
	[MATG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [int] NOT NULL,
	[MASACH] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [int] NOT NULL,
	[NGAYHD] [smalldatetime] NULL,
	[MAKH] [int] NULL,
	[MANV] [int] NULL,
	[VAT] [float] NULL,
	[TRIGIA] [money] NULL,
	[TONGTIEN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] NOT NULL,
	[TENKH] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[SODT] [nvarchar](10) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[NGAYDKY] [smalldatetime] NULL,
	[DOANHSO] [money] NULL,
	[MALOAIKH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [int] NOT NULL,
	[TENKM] [nvarchar](100) NULL,
	[TUMUCTIEN] [money] NULL,
	[DENMUCTIEN] [money] NULL,
	[NGAYBD] [smalldatetime] NULL,
	[NGAYKT] [smalldatetime] NULL,
	[HESOKM] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[MATHELOAI] [int] NOT NULL,
	[TENTHELOAI] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[TENNV] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[SODT] [nvarchar](10) NULL,
	[NGAYVL] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[MANHOM] [int] NOT NULL,
	[TENNHOM] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MANHOM] [int] NOT NULL,
	[MACHUCNANG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC,
	[MACHUCNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[SOPHIEUNHAP] [int] NOT NULL,
	[NGAYNHAP] [smalldatetime] NULL,
	[MACTY] [int] NULL,
	[TONGTIEN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACH]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [int] NOT NULL,
	[TENSACH] [nvarchar](100) NULL,
	[NHAXUATBAN] [nvarchar](100) NULL,
	[NAMXUATBAN] [int] NULL,
	[TOMTAT] [nvarchar](200) NULL,
	[GIABAN] [money] NULL,
	[GIANHAP] [money] NULL,
	[TONGSACHTON] [int] NULL,
	[MATHELOAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 13/10/2018 20:42:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATG] [int] NOT NULL,
	[TENTG] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CONGTY] ([MACTY], [TENCTY], [DIACHI], [SODT]) VALUES (1, N'Công ty Cổ phần Sách và Thiết bị Giáo dục miền Nam', N'BCA Tower, 89 Hồ Bá Kiện, Phường 15, Quận 10, TP. HCM', N'1900 6757 ')
INSERT [dbo].[CONGTY] ([MACTY], [TENCTY], [DIACHI], [SODT]) VALUES (2, N'Công ty Cổ phần Sách và Thiết bị trường học TPHCM', N'Số 223 Nguyễn Tri Phương, Phường 9, Quận 5, TP.HCM.', N'19004578')
INSERT [dbo].[CT_SACH_TACGIA] ([MASACH], [MATG]) VALUES (1, 1)
INSERT [dbo].[CT_SACH_TACGIA] ([MASACH], [MATG]) VALUES (2, 1)
INSERT [dbo].[CT_SACH_TACGIA] ([MASACH], [MATG]) VALUES (3, 2)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SODT], [NGAYSINH], [NGAYDKY], [DOANHSO], [MALOAIKH]) VALUES (1, N'Nguyễn Thị Anh Thư', N'Quận 1, TPCHM', N'0978123450', CAST(N'1990-08-02 00:00:00' AS SmallDateTime), CAST(N'2018-08-08 00:00:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SODT], [NGAYSINH], [NGAYDKY], [DOANHSO], [MALOAIKH]) VALUES (2, N'Trần Quốc Bảo', N'Quận 2, TPCHM', N'0868215747', CAST(N'1998-02-09 00:00:00' AS SmallDateTime), CAST(N'2017-07-07 00:00:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SODT], [NGAYSINH], [NGAYDKY], [DOANHSO], [MALOAIKH]) VALUES (3, N'Trần Như Quỳnh', N'Quận Thủ Đức, TPHCM', N'0967814562', CAST(N'1997-08-12 00:00:00' AS SmallDateTime), CAST(N'2015-08-07 00:00:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[LOAISACH] ([MATHELOAI], [TENTHELOAI]) VALUES (1, N'Văn học')
INSERT [dbo].[LOAISACH] ([MATHELOAI], [TENTHELOAI]) VALUES (2, N'Tiểu thuyết')
INSERT [dbo].[LOAISACH] ([MATHELOAI], [TENTHELOAI]) VALUES (3, N'Toán học')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SODT], [NGAYVL]) VALUES (1, N'Trần Khánh Ngọc', N'Quận Thủ Đức, TPHCM', N'0981245782', CAST(N'2014-07-07 00:00:00' AS SmallDateTime))
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SODT], [NGAYVL]) VALUES (2, N'Dương Mỹ Uyên', N'Quận Bình Thạnh, TPHCM', N'0387456289', CAST(N'2015-07-07 00:00:00' AS SmallDateTime))
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SODT], [NGAYVL]) VALUES (3, N'Nguyễn Thị Tuyết Mai', N'Quận Thủ Đức, TPHCM', N'0978124556', CAST(N'2015-07-08 00:00:00' AS SmallDateTime))
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [NHAXUATBAN], [NAMXUATBAN], [TOMTAT], [GIABAN], [GIANHAP], [TONGSACHTON], [MATHELOAI]) VALUES (1, N'Lão Hạc', N'Văn học', 2017, NULL, 41000.0000, 30000.0000, NULL, 1)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [NHAXUATBAN], [NAMXUATBAN], [TOMTAT], [GIABAN], [GIANHAP], [TONGSACHTON], [MATHELOAI]) VALUES (2, N'Chí Phèo', N'Văn học', 2017, NULL, 40000.0000, 30000.0000, NULL, 1)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [NHAXUATBAN], [NAMXUATBAN], [TOMTAT], [GIABAN], [GIANHAP], [TONGSACHTON], [MATHELOAI]) VALUES (3, N'Dế Mèn phiêu lưu ký', N'Văn học', 2017, NULL, 45000.0000, 360000.0000, NULL, 1)
INSERT [dbo].[TACGIA] ([MATG], [TENTG]) VALUES (1, N'Nam Cao')
INSERT [dbo].[TACGIA] ([MATG], [TENTG]) VALUES (2, N'Tô Hoài')
INSERT [dbo].[TACGIA] ([MATG], [TENTG]) VALUES (3, N'Xuân Quỳnh')
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP] FOREIGN KEY([SOPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([SOPHIEUNHAP])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_SACH]
GO
ALTER TABLE [dbo].[CT_SACH_TACGIA]  WITH CHECK ADD  CONSTRAINT [FK_CT_SACH_TACGIA_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CT_SACH_TACGIA] CHECK CONSTRAINT [FK_CT_SACH_TACGIA_SACH]
GO
ALTER TABLE [dbo].[CT_SACH_TACGIA]  WITH CHECK ADD  CONSTRAINT [FK_CT_SACH_TACGIA_TACGIA] FOREIGN KEY([MATG])
REFERENCES [dbo].[TACGIA] ([MATG])
GO
ALTER TABLE [dbo].[CT_SACH_TACGIA] CHECK CONSTRAINT [FK_CT_SACH_TACGIA_TACGIA]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HOADON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HOADON]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_SACH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_CHUCNANG] FOREIGN KEY([MACHUCNANG])
REFERENCES [dbo].[CHUCNANG] ([MACHUCNANG])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_CHUCNANG]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_NHOM] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_NHOM]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_CONGTY] FOREIGN KEY([MACTY])
REFERENCES [dbo].[CONGTY] ([MACTY])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_CONGTY]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_THELOAI] FOREIGN KEY([MATHELOAI])
REFERENCES [dbo].[LOAISACH] ([MATHELOAI])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_THELOAI]
GO
USE [master]
GO
