USE [master]
GO
/****** Object:  Database [QUANLYNHASACH]    Script Date: 25/12/2018 06:40:09 ******/
CREATE DATABASE [QUANLYNHASACH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYNHASACH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL\MSSQL\DATA\QUANLYNHASACH.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLYNHASACH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL\MSSQL\DATA\QUANLYNHASACH_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYNHASACH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYNHASACH]
GO
/****** Object:  UserDefinedFunction [dbo].[GetUnsignString]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetUnsignString](@strInput NVARCHAR(4000)) 
RETURNS NVARCHAR(4000)
AS
BEGIN     
    IF @strInput IS NULL RETURN @strInput
    IF @strInput = '' RETURN @strInput
    DECLARE @RT NVARCHAR(4000)
    DECLARE @SIGN_CHARS NCHAR(136)
    DECLARE @UNSIGN_CHARS NCHAR (136)

    SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệếìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵýĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ'+NCHAR(272)+ NCHAR(208)
    SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeeeiiiiiooooooooooooooouuuuuuuuuuyyyyyAADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIIIOOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD'

    DECLARE @COUNTER int
    DECLARE @COUNTER1 int
    SET @COUNTER = 1
 
    WHILE (@COUNTER <=LEN(@strInput))
    BEGIN   
      SET @COUNTER1 = 1
      --Tim trong chuoi mau
       WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1)
       BEGIN
     IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) )
     BEGIN           
          IF @COUNTER=1
              SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1)                   
          ELSE
              SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER)    
              BREAK         
               END
             SET @COUNTER1 = @COUNTER1 +1
       END
      --Tim tiep
       SET @COUNTER = @COUNTER +1
    END
    RETURN @strInput
END

GO
/****** Object:  Table [dbo].[BAOCAODOANHTHU]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAODOANHTHU](
	[TUNGAY] [smalldatetime] NOT NULL,
	[DENNGAY] [smalldatetime] NOT NULL,
	[TONGTHU] [money] NOT NULL,
	[TONGCHI] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TUNGAY] ASC,
	[DENNGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BAOCAOTON]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOTON](
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[MASACH] [int] NOT NULL,
	[TONDAU] [int] NOT NULL,
	[PHATSINH] [int] NOT NULL,
	[TONCUOI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[THANG] ASC,
	[NAM] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[MACHUCNANG] [int] NOT NULL,
	[TENCHUCNANG] [nvarchar](100) NOT NULL,
	[TENMANHINHDUOCLOAD] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUCNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONGTY]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTY](
	[MACTY] [int] NOT NULL,
	[TENCTY] [nvarchar](100) NOT NULL DEFAULT (''),
	[DIACHI] [nvarchar](200) NOT NULL DEFAULT (''),
	[SODT] [nvarchar](10) NOT NULL DEFAULT (''),
PRIMARY KEY CLUSTERED 
(
	[MACTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[SOPHIEUNHAP] [int] NOT NULL,
	[MASACH] [int] NOT NULL,
	[SOLUONGNHAP] [int] NOT NULL DEFAULT ((0)),
	[GIANHAP] [money] NULL DEFAULT ((0)),
	[THANHTIEN] [money] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[SOPHIEUNHAP] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [int] NOT NULL,
	[MASACH] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL DEFAULT ((0)),
	[GIABAN] [money] NOT NULL DEFAULT ((0)),
	[THANHTIEN] [money] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [int] NOT NULL,
	[NGAYHD] [smalldatetime] NOT NULL DEFAULT (getdate()),
	[MAKH] [int] NULL,
	[MANV] [int] NOT NULL,
	[VAT] [float] NOT NULL DEFAULT ((0)),
	[TRIGIA] [money] NOT NULL DEFAULT ((0)),
	[TONGTIEN] [money] NOT NULL DEFAULT ((0)),
	[HESOKM] [float] NULL,
	[TRANGTHAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] NOT NULL,
	[TENKH] [nvarchar](100) NOT NULL DEFAULT (''),
	[DIACHI] [nvarchar](200) NOT NULL DEFAULT (''),
	[SODT] [nvarchar](10) NOT NULL DEFAULT (''),
	[NGAYSINH] [smalldatetime] NOT NULL DEFAULT (getdate()),
	[NGAYDKY] [smalldatetime] NOT NULL DEFAULT (getdate()),
	[DOANHSO] [money] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [int] NOT NULL,
	[TENKM] [nvarchar](100) NOT NULL DEFAULT (''),
	[MUCTIEN] [money] NOT NULL DEFAULT ((0)),
	[NGAYBD] [smalldatetime] NOT NULL DEFAULT (getdate()),
	[NGAYKT] [smalldatetime] NOT NULL DEFAULT (getdate()),
	[HESOKM] [float] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[MATHELOAI] [int] NOT NULL,
	[TENTHELOAI] [nvarchar](100) NOT NULL DEFAULT (''),
PRIMARY KEY CLUSTERED 
(
	[MATHELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MANV] [int] NOT NULL,
	[TENDANGNHAP] [varchar](100) NOT NULL DEFAULT (''),
	[TENHIENTHI] [nvarchar](100) NULL,
	[MATKHAU] [varchar](100) NOT NULL DEFAULT (''),
	[MANHOM] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[TENNV] [nvarchar](100) NOT NULL DEFAULT (''),
	[NGAYSINH] [smalldatetime] NOT NULL DEFAULT (getdate()),
	[GIOITINH] [nvarchar](100) NOT NULL DEFAULT (''),
	[DIACHI] [nvarchar](200) NOT NULL DEFAULT (''),
	[SODT] [nvarchar](10) NOT NULL DEFAULT (''),
	[NGAYVL] [smalldatetime] NOT NULL DEFAULT (getdate()),
	[TRANGTHAI] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[MANHOM] [int] NOT NULL,
	[TENNHOM] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MANHOM] [int] NOT NULL,
	[MACHUCNANG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC,
	[MACHUCNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[SOPHIEUNHAP] [int] NOT NULL,
	[NGAYNHAP] [smalldatetime] NOT NULL DEFAULT (getdate()),
	[MACTY] [int] NOT NULL,
	[TONGTIEN] [money] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[SOPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SACH]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [int] NOT NULL,
	[TENSACH] [nvarchar](100) NOT NULL DEFAULT (''),
	[TACGIA] [nvarchar](100) NOT NULL DEFAULT (''),
	[NHAXUATBAN] [nvarchar](100) NOT NULL DEFAULT (''),
	[NAMXUATBAN] [int] NOT NULL DEFAULT (datepart(year,getdate())),
	[TOMTAT] [nvarchar](200) NOT NULL DEFAULT (''),
	[GIANHAP] [money] NOT NULL DEFAULT ((0)),
	[TONGSACHTON] [int] NOT NULL DEFAULT ((0)),
	[MATHELOAI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[SOLUONGTONTOIDA] [int] NULL DEFAULT ((0)),
	[SOLUONGTONTOITHIEU] [int] NULL DEFAULT ((0)),
	[TILETINHDONGIABAN] [float] NULL DEFAULT ((0)),
	[SOLUONGNHAPTOIDA] [int] NULL DEFAULT ((0)),
	[SOLUONGNHAPTOITHIEU] [int] NULL DEFAULT ((0)),
	[VAT] [float] NOT NULL DEFAULT ((0))
) ON [PRIMARY]

GO
INSERT [dbo].[CHUCNANG] ([MACHUCNANG], [TENCHUCNANG], [TENMANHINHDUOCLOAD]) VALUES (1, N'Quản lý khách hàng', N'Qu?n lý khách hàng')
INSERT [dbo].[CHUCNANG] ([MACHUCNANG], [TENCHUCNANG], [TENMANHINHDUOCLOAD]) VALUES (2, N'Quản lý khuyến mãi', N'Qu?n lý khuy?n mãi')
INSERT [dbo].[CHUCNANG] ([MACHUCNANG], [TENCHUCNANG], [TENMANHINHDUOCLOAD]) VALUES (3, N'Quản lý sách', N'Qu?n lý sách')
INSERT [dbo].[CONGTY] ([MACTY], [TENCTY], [DIACHI], [SODT]) VALUES (1, N'Công ty cổ phần sách Miền Nam', N'TPHCM', N'0897456213')
INSERT [dbo].[CONGTY] ([MACTY], [TENCTY], [DIACHI], [SODT]) VALUES (2, N'Công ty CP Sách và Thiết bị trường học TPHCM', N'TPHCM', N'0975963712')
INSERT [dbo].[CT_PHIEUNHAP] ([SOPHIEUNHAP], [MASACH], [SOLUONGNHAP], [GIANHAP], [THANHTIEN]) VALUES (1, 1, 20, 20000.0000, 400000.0000)
INSERT [dbo].[CT_PHIEUNHAP] ([SOPHIEUNHAP], [MASACH], [SOLUONGNHAP], [GIANHAP], [THANHTIEN]) VALUES (1, 2, 5, 65000.0000, 325000.0000)
INSERT [dbo].[CT_PHIEUNHAP] ([SOPHIEUNHAP], [MASACH], [SOLUONGNHAP], [GIANHAP], [THANHTIEN]) VALUES (1, 3, 10, 95000.0000, 950000.0000)
INSERT [dbo].[CTHD] ([SOHD], [MASACH], [SOLUONG], [GIABAN], [THANHTIEN]) VALUES (1, 1, 1, 0.0000, 0.0000)
INSERT [dbo].[CTHD] ([SOHD], [MASACH], [SOLUONG], [GIABAN], [THANHTIEN]) VALUES (2, 1, 1, 21000.0000, 21000.0000)
INSERT [dbo].[CTHD] ([SOHD], [MASACH], [SOLUONG], [GIABAN], [THANHTIEN]) VALUES (3, 1, 1, 21000.0000, 21000.0000)
INSERT [dbo].[HOADON] ([SOHD], [NGAYHD], [MAKH], [MANV], [VAT], [TRIGIA], [TONGTIEN], [HESOKM], [TRANGTHAI]) VALUES (1, CAST(N'2018-11-26 00:00:00' AS SmallDateTime), 0, 1, 0.3, 0.0000, 0.0000, 0, NULL)
INSERT [dbo].[HOADON] ([SOHD], [NGAYHD], [MAKH], [MANV], [VAT], [TRIGIA], [TONGTIEN], [HESOKM], [TRANGTHAI]) VALUES (2, CAST(N'2018-12-05 00:00:00' AS SmallDateTime), 0, 1, 0.3, 21000.0000, 27300.0000, 0, 0)
INSERT [dbo].[HOADON] ([SOHD], [NGAYHD], [MAKH], [MANV], [VAT], [TRIGIA], [TONGTIEN], [HESOKM], [TRANGTHAI]) VALUES (3, CAST(N'2018-12-05 00:00:00' AS SmallDateTime), 0, 1, 0.3, 21000.0000, 27300.0000, 0, 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SODT], [NGAYSINH], [NGAYDKY], [DOANHSO]) VALUES (0, N'', N'', N'', CAST(N'2018-11-26 14:56:00' AS SmallDateTime), CAST(N'2018-11-26 14:56:00' AS SmallDateTime), 0.0000)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SODT], [NGAYSINH], [NGAYDKY], [DOANHSO]) VALUES (1, N'Nguyễn Văn Anh', N'TPHCM', N'0874561233', CAST(N'2018-11-03 00:00:00' AS SmallDateTime), CAST(N'2018-11-26 00:00:00' AS SmallDateTime), 504000.0000)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [SODT], [NGAYSINH], [NGAYDKY], [DOANHSO]) VALUES (2, N'Nguyễn Văn Bảo', N'Khu phố 6, p.Linh Trung, q.Thủ Đức, tp.HCM', N'0377460111', CAST(N'1991-09-13 00:00:00' AS SmallDateTime), CAST(N'2018-12-05 00:00:00' AS SmallDateTime), 0.0000)
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [MUCTIEN], [NGAYBD], [NGAYKT], [HESOKM]) VALUES (1, N'Khuyến mãi tháng 11', 100000.0000, CAST(N'2018-11-02 00:00:00' AS SmallDateTime), CAST(N'2018-11-02 00:00:00' AS SmallDateTime), 0.1)
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [MUCTIEN], [NGAYBD], [NGAYKT], [HESOKM]) VALUES (2, N'Khuyến mãi tháng 12', 20000.0000, CAST(N'2018-12-07 00:00:00' AS SmallDateTime), CAST(N'2018-12-31 00:00:00' AS SmallDateTime), 0.2)
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [MUCTIEN], [NGAYBD], [NGAYKT], [HESOKM]) VALUES (3, N'Khuyến mãi Noel', 100000.0000, CAST(N'2018-12-20 00:00:00' AS SmallDateTime), CAST(N'2018-12-31 00:00:00' AS SmallDateTime), 0.2)
INSERT [dbo].[LOAISACH] ([MATHELOAI], [TENTHELOAI]) VALUES (1, N'Văn học Việt Nam')
INSERT [dbo].[LOAISACH] ([MATHELOAI], [TENTHELOAI]) VALUES (2, N'Chính trị - Pháp luật')
INSERT [dbo].[LOAISACH] ([MATHELOAI], [TENTHELOAI]) VALUES (3, N'Sách thiếu nhi')
INSERT [dbo].[NGUOIDUNG] ([MANV], [TENDANGNHAP], [TENHIENTHI], [MATKHAU], [MANHOM]) VALUES (1, N'admin1', N'Nguyễn Thị Anh Thư', N'123', 1)
INSERT [dbo].[NGUOIDUNG] ([MANV], [TENDANGNHAP], [TENHIENTHI], [MATKHAU], [MANHOM]) VALUES (2, N'staff2', N'Nguyễn Thị Như Ý', N'123', 2)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SODT], [NGAYVL], [TRANGTHAI]) VALUES (1, N'Nguyễn Thị Anh Thư', CAST(N'1991-11-03 00:00:00' AS SmallDateTime), N'Nữ', N'TPHCM', N'0987123546', CAST(N'2018-11-26 00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SODT], [NGAYVL], [TRANGTHAI]) VALUES (2, N'Nguyễn Thị Như Ý', CAST(N'1980-01-03 00:00:00' AS SmallDateTime), N'Nữ', N'TPHCM', N'0123457896', CAST(N'2018-11-28 00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [GIOITINH], [DIACHI], [SODT], [NGAYVL], [TRANGTHAI]) VALUES (3, N'Dương Mỹ Hoa', CAST(N'1980-12-27 00:00:00' AS SmallDateTime), N'Nữ', N'TPHCM', N'0945612210', CAST(N'2018-12-07 00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM]) VALUES (1, N'Nhân viên quản lý')
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM]) VALUES (2, N'Nhân viên bán hàng')
INSERT [dbo].[PHANQUYEN] ([MANHOM], [MACHUCNANG]) VALUES (1, 2)
INSERT [dbo].[PHANQUYEN] ([MANHOM], [MACHUCNANG]) VALUES (1, 3)
INSERT [dbo].[PHANQUYEN] ([MANHOM], [MACHUCNANG]) VALUES (1, 4)
INSERT [dbo].[PHIEUNHAP] ([SOPHIEUNHAP], [NGAYNHAP], [MACTY], [TONGTIEN]) VALUES (1, CAST(N'2018-11-30 00:00:00' AS SmallDateTime), 1, 4650000.0000)
INSERT [dbo].[PHIEUNHAP] ([SOPHIEUNHAP], [NGAYNHAP], [MACTY], [TONGTIEN]) VALUES (2, CAST(N'2018-12-05 00:00:00' AS SmallDateTime), 2, 12130000.0000)
INSERT [dbo].[PHIEUNHAP] ([SOPHIEUNHAP], [NGAYNHAP], [MACTY], [TONGTIEN]) VALUES (3, CAST(N'2018-12-10 00:00:00' AS SmallDateTime), 1, 1341000.0000)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [NHAXUATBAN], [NAMXUATBAN], [TOMTAT], [GIANHAP], [TONGSACHTON], [MATHELOAI]) VALUES (1, N'Cỏ dại', N'Wejk', N'Văn học', 2017, N'', 30000.0000, 40, 1)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [NHAXUATBAN], [NAMXUATBAN], [TOMTAT], [GIANHAP], [TONGSACHTON], [MATHELOAI]) VALUES (2, N'Giết con chim nhại', N'Harper Lee', N'Văn học', 1991, N'', 250000.0000, 39, 1)
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [TACGIA], [NHAXUATBAN], [NAMXUATBAN], [TOMTAT], [GIANHAP], [TONGSACHTON], [MATHELOAI]) VALUES (3, N'Không gia đình', N'Hecto malo', N'Văn học', 1999, N'', 95000.0000, 6, 1)
INSERT [dbo].[THAMSO] ([SOLUONGTONTOIDA], [SOLUONGTONTOITHIEU], [TILETINHDONGIABAN], [SOLUONGNHAPTOIDA], [SOLUONGNHAPTOITHIEU], [VAT]) VALUES (500, 20, 1.05, 500, 20, 0.3)
ALTER TABLE [dbo].[BAOCAODOANHTHU] ADD  DEFAULT ((0)) FOR [TONGTHU]
GO
ALTER TABLE [dbo].[BAOCAODOANHTHU] ADD  DEFAULT ((0)) FOR [TONGCHI]
GO
ALTER TABLE [dbo].[BAOCAOTON] ADD  DEFAULT (datepart(month,getdate())) FOR [THANG]
GO
ALTER TABLE [dbo].[BAOCAOTON] ADD  DEFAULT (datepart(year,getdate())) FOR [NAM]
GO
ALTER TABLE [dbo].[BAOCAOTON] ADD  DEFAULT ((0)) FOR [TONDAU]
GO
ALTER TABLE [dbo].[BAOCAOTON] ADD  DEFAULT ((0)) FOR [PHATSINH]
GO
ALTER TABLE [dbo].[BAOCAOTON] ADD  DEFAULT ((0)) FOR [TONCUOI]
GO
ALTER TABLE [dbo].[BAOCAOTON]  WITH CHECK ADD FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[BAOCAOTON]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAOTON_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[BAOCAOTON] CHECK CONSTRAINT [FK_BAOCAOTON_SACH]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP] FOREIGN KEY([SOPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([SOPHIEUNHAP])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUNHAP_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CT_PHIEUNHAP_SACH]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HOADON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HOADON]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SACH] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_SACH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_NHANVIEN]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHOM] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_NHOM]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_CHUCNANG] FOREIGN KEY([MACHUCNANG])
REFERENCES [dbo].[CHUCNANG] ([MACHUCNANG])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_CHUCNANG]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_NHOM] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_NHOM]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_CONGTY] FOREIGN KEY([MACTY])
REFERENCES [dbo].[CONGTY] ([MACTY])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_CONGTY]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_THELOAI] FOREIGN KEY([MATHELOAI])
REFERENCES [dbo].[LOAISACH] ([MATHELOAI])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_THELOAI]
GO
ALTER TABLE [dbo].[BAOCAOTON]  WITH CHECK ADD CHECK  (([NAM]<>(0)))
GO
ALTER TABLE [dbo].[BAOCAOTON]  WITH CHECK ADD CHECK  (([Thang]>=(1) AND [Thang]<=(12)))
GO
/****** Object:  StoredProcedure [dbo].[SP_COUNTBILL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_COUNTBILL]
@FROMDATE VARCHAR(19), @TODATE VARCHAR(19)
AS
BEGIN
	DECLARE @FROMDATE_ SMALLDATETIME, @TODATE_ SMALLDATETIME
	SET @FROMDATE_ = CONVERT(SMALLDATETIME, @FROMDATE, 103)
	SET @TODATE_ = CONVERT(SMALLDATETIME, @TODATE, 103)

	SELECT COUNT(*) AS AMOUNT
	FROM HOADON
	WHERE @FROMDATE_ <= NGAYHD AND NGAYHD <= @TODATE_
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DELETEBILL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_DELETEBILL]
@SOHD INT
AS
BEGIN
	DELETE FROM HOADON
	WHERE SOHD = @SOHD
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETEBILLINFO]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETEBILLINFO]
@SOHD INT, @MASACH INT
AS
BEGIN
	DELETE FROM CTHD
	WHERE SOHD = @SOHD AND MASACH = @MASACH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DELETEBOOKSTOCK]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETEBOOKSTOCK]
@SOPHIEUNHAP INT
AS
BEGIN
	IF(SELECT COUNT(*)
		FROM CT_PHIEUNHAP
		WHERE SOPHIEUNHAP=@SOPHIEUNHAP)=0
		BEGIN
			DELETE FROM PHIEUNHAP
			WHERE SOPHIEUNHAP=@SOPHIEUNHAP
		END
	ELSE
		ROLLBACK TRAN
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DELETEBOOKSTOCKDETAIL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETEBOOKSTOCKDETAIL]
@SOPHIEUNHAP INT,@MASACH INT
AS
BEGIN	
	DELETE FROM CT_PHIEUNHAP
	WHERE SOPHIEUNHAP=@SOPHIEUNHAP AND MASACH=@MASACH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DELETEDISCOUNT]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETEDISCOUNT]
@MAKM INT
AS
BEGIN
	DELETE FROM KHUYENMAI
	WHERE MAKM=@MAKM
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DELETEUSER]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETEUSER]
@MANV INT
AS
BEGIN
	DELETE FROM NGUOIDUNG
	WHERE MANV=@MANV
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GETCATEGOGYUSER]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETCATEGOGYUSER]
@TENDANGNHAP NVARCHAR(100)
AS
BEGIN
	SELECT TENNHOM 
	FROM NHOMNGUOIDUNG, NGUOIDUNG
	WHERE TENDANGNHAP=@TENDANGNHAP AND NHOMNGUOIDUNG.MANHOM=NGUOIDUNG.MANHOM
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GETNAMESTAFF]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[SP_GETNAMESTAFF]
@USERNAME NVARCHAR(100), @PASSWORD NVARCHAR(100)
AS
BEGIN
	SELECT TENNV
	FROM NHANVIEN, NGUOIDUNG
	WHERE NHANVIEN.MANV=NGUOIDUNG.MANV AND TENDANGNHAP=@USERNAME AND MATKHAU=@PASSWORD
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GETNAMESTAFFBYIDBILL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETNAMESTAFFBYIDBILL]
@SOHD INT
AS
BEGIN
	SELECT TENNV 
	FROM NHANVIEN, HOADON
	WHERE NHANVIEN.MANV = HOADON.MANV AND SOHD = @SOHD
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GETUSERNAME]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETUSERNAME]
@NAMESTAFF NVARCHAR(100)
AS
BEGIN
	SELECT TENDANGNHAP
	FROM NGUOIDUNG, NHANVIEN
	WHERE NGUOIDUNG.MANV=NHANVIEN.MANV AND TENNV=@NAMESTAFF
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTBILL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTBILL]
@NGAYHD VARCHAR(19), @MAKH INT, @MANV INT
AS
BEGIN
	DECLARE @SOHD_MAX INT, @I INT, @NGAYHD_ SMALLDATETIME, @VAT FLOAT

	SELECT @SOHD_MAX = MAX(SOHD)
	FROM HOADON

	SELECT @VAT = VAT
	FROM THAMSO

	SET @I = 1
	SET @NGAYHD_ = CONVERT(SMALLDATETIME, @NGAYHD, 103)
	
	IF(@SOHD_MAX IS NULL)
	BEGIN
		INSERT INTO HOADON VALUES(1, @NGAYHD_, @MAKH, @MANV, @VAT, 0, 0, 0, 0)
	END
	ELSE
	BEGIN
		INSERT INTO HOADON VALUES(@SOHD_MAX + 1, @NGAYHD_, @MAKH, @MANV, @VAT, 0, 0, 0, 0)			
	END	
END

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTBILLINFO]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTBILLINFO]
@SOHD INT, @MASACH INT, @SOLUONG INT
AS
BEGIN
	INSERT INTO CTHD VALUES(@SOHD, @MASACH, @SOLUONG, 0, 0)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTBOOK]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTBOOK]
@TENSACH NVARCHAR (100),@TACGIA NVARCHAR(100), @NHAXUATBAN NVARCHAR(100), @NAMXUATBAN INT, @TOMTAT NVARCHAR(200),@GIANHAP MONEY, @TONGSACHTON INT, @MATHELOAI INT
AS
BEGIN
	DECLARE @MASACH INT, @MASACH_MAX INT, @I INT
	SET @I=1
	--SET @GIANHAP MONEY=0
	SET @MASACH_MAX=(SELECT MAX(MASACH)
	FROM SACH)
	IF (@MASACH_MAX IS NULL)
		SET @MASACH=@I
	ELSE 
		BEGIN
		WHILE(@I<=@MASACH_MAX+1)
			BEGIN
				IF((SELECT COUNT(*)
					FROM SACH
					WHERE MASACH=@I)=0)
					BEGIN
						SET @MASACH=@I
						BREAK
					END
					SET @I=@I+1
			END
	END
	INSERT INTO SACH VALUES( @MASACH,@TENSACH,@TACGIA,@NHAXUATBAN,@NAMXUATBAN,@TOMTAT,@GIANHAP,@TONGSACHTON,@MATHELOAI)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTBOOKCATEGOGY]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTBOOKCATEGOGY]
 @TENTHELOAI NVARCHAR(100)
 AS 
 BEGIN
	DECLARE @MATHELOAI INT, @MATHELOAI_MAX INT, @I INT
	SET @I=1
	SELECT @MATHELOAI_MAX=MAX(MATHELOAI)
	FROM LOAISACH
	IF(@MATHELOAI_MAX IS NULL)
		BEGIN
			SET @MATHELOAI=@I
		END
	ELSE
		BEGIN
			WHILE(@I<=@MATHELOAI_MAX+1)
				BEGIN
					IF(SELECT COUNT(*)
						FROM LOAISACH
						WHERE MATHELOAI=@I)=0
						BEGIN
							SET @MATHELOAI=@I
							BREAK
						END
						SET @I=@I+1
				END
		END
	INSERT INTO LOAISACH VALUES(@MATHELOAI,@TENTHELOAI)
 END

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTBOOKSTOCK]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTBOOKSTOCK]
@NGAYNHAP NVARCHAR(19), @MACTY INT
AS
BEGIN
	DECLARE @NGAYNHAP_ SMALLDATETIME
	SET @NGAYNHAP_=CONVERT(smalldatetime,@NGAYNHAP,103)
	DECLARE @SOPHIEUNHAP INT, @SOPHIEUNHAP_MAX INT, @I INT
	SET @I=1
	SET @SOPHIEUNHAP_MAX=(SELECT MAX(SOPHIEUNHAP)
							FROM PHIEUNHAP)
	IF(@SOPHIEUNHAP_MAX IS NULL)
		SET @SOPHIEUNHAP=@I
	ELSE
		BEGIN
			WHILE(@I<=@SOPHIEUNHAP_MAX+1)
				BEGIN
					IF(SELECT COUNT(*)
						FROM PHIEUNHAP
						WHERE SOPHIEUNHAP=@I)=0
						BEGIN
							SET @SOPHIEUNHAP=@I
							BREAK
						END
					 SET @I=@I+1
				END
		END
	INSERT INTO PHIEUNHAP VALUES(@SOPHIEUNHAP,@NGAYNHAP_,@MACTY,0)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTBOOKSTOCKDETAIL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTBOOKSTOCKDETAIL]
@SOPHIEUNHAP INT,@MASACH INT, @SOLUONGNHAP INT,@GIANHAP MONEY
AS
BEGIN
	DECLARE @THANHTIEN MONEY
	SET @THANHTIEN=@SOLUONGNHAP*@GIANHAP
	INSERT INTO CT_PHIEUNHAP VALUES(@SOPHIEUNHAP,@MASACH,@SOLUONGNHAP,@GIANHAP,@THANHTIEN)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTCUSTOMER]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTCUSTOMER]
@TENKH NVARCHAR(100), @DIACHI NVARCHAR(200), @SODT NVARCHAR(10), @NGAYSINH VARCHAR(19), @NGAYDKY VARCHAR(19)
AS
BEGIN
	DECLARE @MAKH_MAX INT, @I INT, @NGAYSINH_ SMALLDATETIME, @NGAYDKY_ SMALLDATETIME

	SET @NGAYSINH_ = CONVERT(SMALLDATETIME, @NGAYSINH, 103)
	SET @NGAYDKY_ = CONVERT(SMALLDATETIME, @NGAYDKY, 103)
	SET @I = 1

	SELECT @MAKH_MAX = MAX(MAKH)
	FROM KHACHHANG

	IF(@MAKH_MAX IS NULL)
	BEGIN
		INSERT INTO KHACHHANG VALUES(1, @TENKH, @DIACHI, @SODT, @NGAYSINH_, @NGAYDKY_, 0)
	END

	ELSE
	BEGIN
		WHILE(@I <= @MAKH_MAX + 1)
		BEGIN
			IF((SELECT COUNT(*) FROM KHACHHANG WHERE MAKH = @I) = 0)
			BEGIN
				INSERT INTO KHACHHANG VALUES(@I, @TENKH, @DIACHI, @SODT, @NGAYSINH_, @NGAYDKY_, 0)
				BREAK
			END
			SET @I += 1
		END
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTDISCOUNT]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTDISCOUNT]
@TENKM NVARCHAR(100), @HESOKM FLOAT, @MUCTIEN MONEY, @NGAYBD VARCHAR(19), @NGAYKT VARCHAR(19)
AS
BEGIN
	DECLARE @NGAYBD_ SMALLDATETIME, @NGAYKT_ SMALLDATETIME
	SET @NGAYBD_=CONVERT(smalldatetime,@NGAYBD,103)
	SET @NGAYKT_=CONVERT(smalldatetime,@NGAYKT,103)
	DECLARE @MAKM INT, @MAKM_MAX INT, @I INT
	SET @I=1
	SELECT @MAKM_MAX=MAX(MAKM)
	FROM KHUYENMAI
	IF(@MAKM_MAX IS NULL)
		set @MAKM=@I
	ELSE
		BEGIN
			WHILE(@I<=@MAKM_MAX+1)
				BEGIN
					IF(SELECT COUNT(*)
						FROM KHUYENMAI
						WHERE MAKM=@I)=0
						BEGIN
							SET @MAKM=@I
							BREAK
						END
						SET @I=@I+1
				END
	END
	INSERT INTO KHUYENMAI (MAKM,TENKM,MUCTIEN,NGAYBD,NGAYKT,HESOKM)
							VALUES (@MAKM,@TENKM,@MUCTIEN,@NGAYBD_,@NGAYKT_,@HESOKM)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTDISTRIBUTOR]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTDISTRIBUTOR]
@TENCTY NVARCHAR(100), @DIACHI NVARCHAR(100), @SODT NVARCHAR(10)
AS
BEGIN
	DECLARE @MACTY INT, @MACTY_MAX INT, @I INT
	SET @I=1
	SET @MACTY_MAX=(SELECT MAX(MACTY)
					FROM CONGTY)
	IF(@MACTY_MAX IS NULL)
		INSERT INTO CONGTY VALUES(@I,@TENCTY,@DIACHI,@SODT)
	ELSE
		BEGIN
			WHILE(@I<=@MACTY_MAX+1)
				BEGIN
					IF(SELECT COUNT(*)
						FROM CONGTY
						WHERE MACTY=@I) =0
						BEGIN
							SET @MACTY=@I
							INSERT INTO CONGTY VALUES(@MACTY,@TENCTY,@DIACHI,@SODT)
							BREAK
						END
					SET @I=@I+1
				END
		END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTSTAFF]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTSTAFF]
@TENNV NVARCHAR(100), @NGAYSINH NVARCHAR(19), @GIOITINH NVARCHAR(100), @DIACHI NVARCHAR(100), @SODT NVARCHAR(10), @NGAYVL NVARCHAR(19),@TRANGTHAI INT
AS
BEGIN
	DECLARE @MANV INT,@I INT,@MANV_MAX INT
	SET @I =1
	SELECT @MANV_MAX=(SELECT MAX(MANV)
						FROM NHANVIEN)
	IF(@MANV_MAX IS NULL)
		SET @MANV=@I
	ELSE
		BEGIN
			WHILE(@I<=@MANV_MAX+1)
				BEGIN
					IF(SELECT COUNT(*)
						FROM NHANVIEN
						WHERE MANV=@I)=0
						BEGIN
							SET @MANV=@I
							BREAK
						END
					SET @I=@I+1
				END
	END
	DECLARE @NGAYSINH_ SMALLDATETIME,@NGAYVL_ SMALLDATETIME
	SET @NGAYSINH_=CONVERT(smalldatetime,@NGAYSINH,103)
	SET @NGAYVL_=CONVERT(smalldatetime,@NGAYVL,103)
	INSERT INTO NHANVIEN VALUES(@MANV,@TENNV,@NGAYSINH_,@GIOITINH,@DIACHI,@SODT,@NGAYVL_,@TRANGTHAI)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTUSER]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERTUSER] 
@MANHOM INT ,@MANV INT
AS
BEGIN
	DECLARE @TENDANGNHAP NVARCHAR(100), @TENHIENTHI NVARCHAR(100), @MATKHAU NVARCHAR(100)
	IF(@MANHOM =1)
		BEGIN
			SET @TENDANGNHAP='admin'+CAST (@MANV AS NVARCHAR(100))
			SET @MATKHAU ='123'
		END
	ELSE
		BEGIN
			SET @TENDANGNHAP='staff'+CAST (@MANV AS NVARCHAR(100))
			SET @MATKHAU ='123'
		END
	SELECT @TENHIENTHI=TENNV
	FROM NHANVIEN
	WHERE MANV=@MANV
	INSERT INTO NGUOIDUNG VALUES(@MANV,@TENDANGNHAP,@TENHIENTHI,@MATKHAU,@MANHOM)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOAD_DISTRIBUTOR]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOAD_DISTRIBUTOR]
AS
BEGIN
	SELECT * FROM CONGTY
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOADBILL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOADBILL]
AS
BEGIN
	SELECT SOHD, NGAYHD, HOADON.MAKH, TENKH, HOADON.MANV, TENNV, VAT, HESOKM, TRIGIA, TONGTIEN
	FROM HOADON, KHACHHANG, NHANVIEN
	WHERE HOADON.MAKH = KHACHHANG.MAKH AND HOADON.MANV = NHANVIEN.MANV
	ORDER BY SOHD DESC
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOADBILLINFO]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOADBILLINFO]
@SOHD INT
AS
BEGIN
	IF(@SOHD > 0)
		SELECT SOHD, CTHD.MASACH, TENSACH, GIABAN, SOLUONG, THANHTIEN
		FROM CTHD, SACH
		WHERE CTHD.MASACH = SACH.MASACH AND CTHD.SOHD = @SOHD
		ORDER BY CTHD.SOHD DESC
	ELSE
		SELECT SOHD, CTHD.MASACH, TENSACH, GIABAN, SOLUONG, THANHTIEN
		FROM CTHD, SACH
		WHERE CTHD.MASACH = SACH.MASACH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOADBOOK]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOADBOOK]
AS
BEGIN
	SELECT MASACH, TENTHELOAI,TENSACH ,TACGIA, NHAXUATBAN, NAMXUATBAN, TOMTAT, GIANHAP, TONGSACHTON
	FROM SACH, LOAISACH
	WHERE SACH.MATHELOAI=LOAISACH.MATHELOAI
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOADBOOKCATEGOGY]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOADBOOKCATEGOGY]
AS
BEGIN
	SELECT MATHELOAI,TENTHELOAI
	FROM LOAISACH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOADBOOKSTOCK]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOADBOOKSTOCK]
AS
BEGIN
	SELECT SOPHIEUNHAP, NGAYNHAP, TENCTY,TONGTIEN
	FROM PHIEUNHAP, CONGTY
	WHERE PHIEUNHAP.MACTY=CONGTY.MACTY
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOADBOOKSTOCKDETAIL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOADBOOKSTOCKDETAIL]
AS
BEGIN
	SELECT SOPHIEUNHAP, TENSACH , SOLUONGNHAP,CT_PHIEUNHAP.GIANHAP, THANHTIEN
	FROM CT_PHIEUNHAP,SACH
	WHERE CT_PHIEUNHAP.MASACH=SACH.MASACH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOADCUSTOMER]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[SP_LOADCUSTOMER]
 AS
 BEGIN
	SELECT MAKH, TENKH , DIACHI, SODT, NGAYSINH, NGAYDKY, DOANHSO
	FROM KHACHHANG
	WHERE MAKH > 0
	ORDER BY MAKH DESC	
 END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOADDISCOUNT]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOADDISCOUNT]
AS
BEGIN
	SELECT * FROM KHUYENMAI
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOADRULE]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOADRULE]
AS
BEGIN
	SELECT * FROM THAMSO
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LOADSTAFFNOACCOUNT]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOADSTAFFNOACCOUNT]
AS
BEGIN
	SELECT * FROM NHANVIEN
	WHERE TRANGTHAI='1' AND  MANV NOT IN(SELECT NHANVIEN.MANV
										FROM NHANVIEN, NGUOIDUNG
										WHERE NHANVIEN.MANV=NGUOIDUNG.MANV) 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOADSTAFFNOW]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOADSTAFFNOW]
AS
BEGIN
	SELECT * FROM NHANVIEN
	WHERE TRANGTHAI='1'
END



GO
/****** Object:  StoredProcedure [dbo].[SP_LOADUNPAIDBILL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOADUNPAIDBILL]
AS
BEGIN
	SELECT SOHD, NGAYHD, HOADON.MAKH, TENKH, HOADON.MANV, TENNV, VAT, HESOKM, TRIGIA, TONGTIEN
	FROM HOADON, KHACHHANG, NHANVIEN
	WHERE HOADON.MAKH = KHACHHANG.MAKH AND HOADON.MANV = NHANVIEN.MANV AND HOADON.TRANGTHAI = 0
	ORDER BY SOHD DESC
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOADUSER]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOADUSER]
AS
BEGIN
	SELECT TENNHOM, TENNV, TENDANGNHAP, TENHIENTHI,MATKHAU
	FROM NGUOIDUNG, NHANVIEN, NHOMNGUOIDUNG
	WHERE NGUOIDUNG.MANHOM=NHOMNGUOIDUNG.MANHOM AND NHANVIEN.MANV =NGUOIDUNG.MANV
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOGIN]
@TENDANGNHAP NVARCHAR(100), @MATKHAU NVARCHAR(100)
AS
BEGIN
	SELECT *
	FROM NGUOIDUNG
	WHERE TENDANGNHAP=@TENDANGNHAP AND MATKHAU=@MATKHAU
END

GO
/****** Object:  StoredProcedure [dbo].[SP_MININVENTORY]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_MININVENTORY]
@TENTHELOAI NVARCHAR(100)
AS
BEGIN
	IF(@TENTHELOAI = N'Tất cả')
	BEGIN
		SELECT MASACH, TENTHELOAI, TENSACH, TACGIA, NHAXUATBAN, NAMXUATBAN, GIANHAP, TONGSACHTON
		FROM SACH, LOAISACH, THAMSO
		WHERE SACH.MATHELOAI = LOAISACH.MATHELOAI AND TONGSACHTON <= SOLUONGTONTOITHIEU
	END
	ELSE
	BEGIN
		SELECT MASACH, TENTHELOAI, TENSACH, TACGIA, NHAXUATBAN, NAMXUATBAN, GIANHAP, TONGSACHTON
		FROM SACH, LOAISACH, THAMSO
		WHERE SACH.MATHELOAI = LOAISACH.MATHELOAI AND TONGSACHTON <= SOLUONGTONTOITHIEU AND TENTHELOAI = @TENTHELOAI
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCHBILL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEARCHBILL]
@NGAYHD VARCHAR(19)
AS
BEGIN
	DECLARE @NGAYHD_ SMALLDATETIME

	SET @NGAYHD_ = CONVERT(SMALLDATETIME, @NGAYHD, 103)

	SELECT SOHD, NGAYHD, HOADON.MAKH, TENKH, HOADON.MANV, TENNV, VAT, HESOKM, TRIGIA, TONGTIEN
	FROM HOADON, KHACHHANG, NHANVIEN
	WHERE HOADON.MAKH = KHACHHANG.MAKH AND HOADON.MANV = NHANVIEN.MANV AND NGAYHD = @NGAYHD_
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCHBILLINFO]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEARCHBILLINFO]
@NGAYHD VARCHAR(19)
AS
BEGIN
	DECLARE @NGAYHD_ SMALLDATETIME

	SET @NGAYHD_ = CONVERT(SMALLDATETIME, @NGAYHD, 103)

	SELECT CTHD.SOHD, CTHD.MASACH, TENSACH, SOLUONG, GIABAN, THANHTIEN 
	FROM HOADON, CTHD, SACH
	WHERE HOADON.SOHD = CTHD.SOHD AND CTHD.MASACH = SACH.MASACH AND NGAYHD = @NGAYHD_
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCHBOOK]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEARCHBOOK]
@KEY NVARCHAR(100)
AS
BEGIN
	
	SELECT MASACH, TENTHELOAI,TENSACH, TACGIA, NHAXUATBAN, NAMXUATBAN, TOMTAT, GIANHAP, TONGSACHTON
	FROM SACH, LOAISACH
	WHERE SACH.MATHELOAI=LOAISACH.MATHELOAI AND [dbo].[GetUnsignString](TENSACH) LIKE N'%' + [dbo].[GetUnsignString](@KEY) + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCHBOOKCATEGOGY]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEARCHBOOKCATEGOGY]
@KEY NVARCHAR(100)
AS
BEGIN
	SELECT * FROM LOAISACH WHERE [dbo].[GetUnsignString](TENTHELOAI) LIKE N'%' + [dbo].[GetUnsignString](@KEY) + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCHBOOKIMPORT]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEARCHBOOKIMPORT]
@KEY NVARCHAR(100)
AS
BEGIN
	
	SELECT MASACH,TENSACH
	FROM SACH
	WHERE  [dbo].[GetUnsignString](TENSACH) LIKE N'%' + [dbo].[GetUnsignString](@KEY) + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCHBOOKSTOCK]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEARCHBOOKSTOCK]
@KEY NVARCHAR(100)
AS
BEGIN
	SELECT SOPHIEUNHAP, NGAYNHAP,TENCTY,TONGTIEN
	FROM PHIEUNHAP,CONGTY
    WHERE PHIEUNHAP.MACTY=CONGTY.MACTY AND [dbo].[GetUnsignString](TENCTY) LIKE N'%' + [dbo].[GetUnsignString](@KEY) + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCHBOOKSTOCKDETAIL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEARCHBOOKSTOCKDETAIL]
@SOPHIEUNHAP INT
AS
BEGIN
	SELECT SOPHIEUNHAP, TENSACH , SOLUONGNHAP,CT_PHIEUNHAP.GIANHAP, THANHTIEN
	FROM CT_PHIEUNHAP,SACH
	WHERE CT_PHIEUNHAP.MASACH=SACH.MASACH AND SOPHIEUNHAP=@SOPHIEUNHAP
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCHCUSTOMER]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEARCHCUSTOMER]
@KEY NVARCHAR(100)
AS
BEGIN
	SELECT * FROM KHACHHANG WHERE [dbo].[GetUnsignString](TENKH) LIKE N'%' + [dbo].[GetUnsignString](@KEY) + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCHDISCOUNT]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEARCHDISCOUNT]
@KEY NVARCHAR(100)
AS
BEGIN
	SELECT * FROM KHUYENMAI WHERE [dbo].[GetUnsignString](TENKM) LIKE N'%' + [dbo].[GetUnsignString](@KEY) + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCHDISTRIBUTOR]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEARCHDISTRIBUTOR]
@KEY NVARCHAR(100)
AS 
BEGIN
	SELECT * FROM CONGTY WHERE [dbo].[GetUnsignString](TENCTY) LIKE N'%' + [dbo].[GetUnsignString](@KEY) + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCHSTAFF]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--STORE TÌM NHÂN VIÊN
CREATE PROC [dbo].[SP_SEARCHSTAFF]
@KEY NVARCHAR(100)
AS
BEGIN
	SELECT *
	FROM NHANVIEN
    WHERE [dbo].[GetUnsignString](TENNV) LIKE N'%' + [dbo].[GetUnsignString](@KEY) + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SEARCHUSER]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEARCHUSER]
@KEY NVARCHAR(100)
AS
BEGIN
	SELECT TENNHOM, TENNV, TENDANGNHAP, TENHIENTHI,MATKHAU
	FROM NGUOIDUNG, NHANVIEN, NHOMNGUOIDUNG
	WHERE NGUOIDUNG.MANHOM=NHOMNGUOIDUNG.MANHOM AND NHANVIEN.MANV =NGUOIDUNG.MANV AND [dbo].[GetUnsignString](TENNV) LIKE N'%' + [dbo].[GetUnsignString](@KEY) + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[SP_STATUSBILL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_STATUSBILL]
@SOHD INT
AS
BEGIN
	UPDATE HOADON
	SET TRANGTHAI = 1
	WHERE SOHD = @SOHD
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TOP10BILL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TOP10BILL]
@FROMDATE VARCHAR(19), @TODATE VARCHAR(19)
AS
BEGIN
	DECLARE @FROMDATE_ SMALLDATETIME, @TODATE_ SMALLDATETIME
	SET @FROMDATE_ = CONVERT(SMALLDATETIME, @FROMDATE, 103)
	SET @TODATE_ = CONVERT(SMALLDATETIME, @TODATE, 103)

	SELECT TOP 10 WITH TIES SOHD, NGAYHD, MAKH, TENNV, TRIGIA, TONGTIEN
	FROM HOADON, NHANVIEN 
	WHERE @FROMDATE_ <= NGAYHD AND NGAYHD <= @TODATE_ AND HOADON.MANV=NHANVIEN.MANV
	ORDER BY TONGTIEN DESC
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TOP20BOOK]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TOP20BOOK]
@FROMDATE VARCHAR(19), @TODATE VARCHAR(19)
AS
BEGIN
	DECLARE @FROMDATE_ SMALLDATETIME, @TODATE_ SMALLDATETIME
	SET @FROMDATE_ = CONVERT(SMALLDATETIME, @FROMDATE, 103)
	SET @TODATE_ = CONVERT(SMALLDATETIME, @TODATE, 103)

	SELECT MASACH, TENTHELOAI, TENSACH, TACGIA, NHAXUATBAN, NAMXUATBAN, GIANHAP
	FROM SACH, LOAISACH
	WHERE SACH.MATHELOAI = LOAISACH.MATHELOAI AND MASACH IN (SELECT TOP 1 with ties MASACH
															FROM CTHD, HOADON
															WHERE HOADON.SOHD = CTHD.SOHD AND @FROMDATE_ <= NGAYHD AND NGAYHD <= @TODATE_
															GROUP BY MASACH
															ORDER BY SUM(SOLUONG) DESC)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_TOTAL_EXPENSE]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TOTAL_EXPENSE]
@FROMDATE VARCHAR(19), @TODATE VARCHAR(19)
AS
BEGIN
	DECLARE @FROMDATE_ SMALLDATETIME, @TODATE_ SMALLDATETIME
	SET @FROMDATE_ = CONVERT(SMALLDATETIME, @FROMDATE, 103)
	SET @TODATE_ = CONVERT(SMALLDATETIME, @TODATE, 103)

	SELECT SUM(TONGTIEN)
	FROM PHIEUNHAP
	WHERE @FROMDATE_ <= NGAYNHAP AND NGAYNHAP <= @TODATE_
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TOTAL_REVENUE]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TOTAL_REVENUE]
@FROMDATE VARCHAR(19), @TODATE VARCHAR(19)
AS
BEGIN
	DECLARE @FROMDATE_ SMALLDATETIME, @TODATE_ SMALLDATETIME
	SET @FROMDATE_ = CONVERT(SMALLDATETIME, @FROMDATE, 103)
	SET @TODATE_ = CONVERT(SMALLDATETIME, @TODATE, 103)

	SELECT SUM(TONGTIEN)
	FROM HOADON
	WHERE @FROMDATE_ <= NGAYHD AND NGAYHD <= @TODATE_
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEBILL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATEBILL]
@SOHD INT, @NGAYHD VARCHAR(19), @MAKH INT, @MANV INT
AS
BEGIN
	DECLARE @NGAYHD_ SMALLDATETIME

	SET @NGAYHD_ = CONVERT(SMALLDATETIME, @NGAYHD, 103)

	UPDATE HOADON
	SET NGAYHD = @NGAYHD_, MAKH = @MAKH, MANV = @MANV
	WHERE SOHD = @SOHD
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEBILLINFO]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATEBILLINFO]
@SOHD INT, @MASACH INT, @SOLUONG INT
AS
BEGIN
	UPDATE CTHD
	SET SOLUONG = @SOLUONG
	WHERE SOHD = @SOHD AND MASACH = @MASACH 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEBOOK]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATEBOOK]
 @MASACH INT,@TENSACH NVARCHAR (100),@TACGIA NVARCHAR(100), @NHAXUATBAN NVARCHAR(100), @NAMXUATBAN INT, @TOMTAT NVARCHAR(200),  @GIANHAP MONEY, @TONGSACHTON INT, @MATHELOAI INT
 AS
 BEGIN
	UPDATE SACH
	SET TENSACH=@TENSACH,TACGIA=@TACGIA, NHAXUATBAN=@NHAXUATBAN,NAMXUATBAN=@NAMXUATBAN,TOMTAT=@TOMTAT,GIANHAP=@GIANHAP,TONGSACHTON=@TONGSACHTON,MATHELOAI=@MATHELOAI
	WHERE MASACH=@MASACH
 END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEBOOKCATEGOGY]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATEBOOKCATEGOGY]
 @MATHELOAI INT ,@TENTHELOAI NVARCHAR(100)
 AS 
 BEGIN
	UPDATE LOAISACH
	SET TENTHELOAI=@TENTHELOAI
	WHERE MATHELOAI=@MATHELOAI
 END
 
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEBOOKSTOCK]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATEBOOKSTOCK]
@SOPHIEUNHAP INT, @NGAYNHAP NVARCHAR(19),@MACTY INT
AS
BEGIN
	DECLARE @NGAYNHAP_ SMALLDATETIME
	SET @NGAYNHAP_=CONVERT(smalldatetime,@NGAYNHAP,103)
	UPDATE PHIEUNHAP
	SET NGAYNHAP=@NGAYNHAP_,MACTY=@MACTY
	WHERE SOPHIEUNHAP=@SOPHIEUNHAP
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEBOOKSTOCKDETAIL]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATEBOOKSTOCKDETAIL]
@SOPHIEUNHAP INT, @MASACH INT, @SOLUONGNHAP INT,@GIANHAP MONEY
AS
BEGIN
	UPDATE CT_PHIEUNHAP
	SET SOLUONGNHAP=@SOLUONGNHAP,GIANHAP=@GIANHAP,THANHTIEN=@SOLUONGNHAP*@GIANHAP
	WHERE SOPHIEUNHAP=@SOPHIEUNHAP AND MASACH=@MASACH
	
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATECUSTOMER]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATECUSTOMER]
@MAKH INT, @TENKH NVARCHAR(100), @DIACHI NVARCHAR(200), @SODT NVARCHAR(10), @NGAYSINH VARCHAR(19), @NGAYDKY VARCHAR(19)
AS
BEGIN
	DECLARE  @NGAYSINH_ SMALLDATETIME, @NGAYDKY_ SMALLDATETIME

	SET @NGAYSINH_ = CONVERT(SMALLDATETIME, @NGAYSINH, 103)
	SET @NGAYDKY_ = CONVERT(SMALLDATETIME, @NGAYDKY, 103)

	UPDATE KHACHHANG
	SET TENKH = @TENKH, DIACHI = @DIACHI, SODT = @SODT, NGAYSINH = @NGAYSINH_, NGAYDKY = @NGAYDKY_
	WHERE MAKH = @MAKH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEDISCOUNT]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATEDISCOUNT]
@MAKM INT ,@TENKM NVARCHAR(100), @HESOKM FLOAT, @MUCTIEN MONEY, @NGAYBD VARCHAR(19), @NGAYKT VARCHAR(19)
AS
BEGIN
	DECLARE @NGAYBD_ SMALLDATETIME, @NGAYKT_ SMALLDATETIME
	SET @NGAYBD_=CONVERT(smalldatetime,@NGAYBD,103)
	SET @NGAYKT_=CONVERT(smalldatetime,@NGAYKT,103)
	UPDATE KHUYENMAI
	SET TENKM=@TENKM, HESOKM=@HESOKM,MUCTIEN=@MUCTIEN,NGAYBD=@NGAYBD_,NGAYKT=@NGAYKT_
	WHERE MAKM=@MAKM
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEDISTRIBUTOR]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATEDISTRIBUTOR]
@MACTY INT,@TENCTY NVARCHAR(100), @DIACHI NVARCHAR(100), @SODT NVARCHAR(10)
AS
BEGIN
	UPDATE CONGTY
	SET TENCTY=@TENCTY, DIACHI=@DIACHI,SODT=@SODT
	WHERE MACTY=@MACTY
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEPASSWOD]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATEPASSWOD]
@TENDANGNHAP NVARCHAR(100), @MATKHAU NVARCHAR(100), @MATKHAU_ NVARCHAR(100)
AS
BEGIN
	UPDATE NGUOIDUNG
	SET MATKHAU=@MATKHAU_
	WHERE TENDANGNHAP=@TENDANGNHAP AND MATKHAU=@MATKHAU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATERULE]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATERULE]
@SLTONTOIDA INT, @SLTONTOITHIEU INT, @TILETINHDONGIABAN FLOAT, @SLNHAPTOIDA INT, @SLNHAPTOITHIEU INT, @VAT FLOAT
AS
BEGIN
	UPDATE THAMSO
	SET SOLUONGTONTOIDA = @SLTONTOIDA, SOLUONGTONTOITHIEU = @SLTONTOITHIEU, TILETINHDONGIABAN = @TILETINHDONGIABAN, SOLUONGNHAPTOIDA = @SLNHAPTOIDA, SOLUONGNHAPTOITHIEU = @SLNHAPTOITHIEU, VAT = @VAT
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATESTAFF]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATESTAFF]
@MANV INT,@TENNV NVARCHAR(100), @NGAYSINH NVARCHAR(19), @GIOITINH NVARCHAR(100), @DIACHI NVARCHAR(100), @SODT NVARCHAR(10), @NGAYVL NVARCHAR(19),@TRANGTHAI INT
AS
BEGIN
	DECLARE @NGAYSINH_ SMALLDATETIME,@NGAYVL_ SMALLDATETIME
	SET @NGAYSINH_=CONVERT(smalldatetime,@NGAYSINH,103)
	SET @NGAYVL_=CONVERT(smalldatetime,@NGAYVL,103)
	UPDATE NHANVIEN
	SET TENNV=@TENNV,NGAYSINH=@NGAYSINH_,GIOITINH=@GIOITINH,DIACHI=@DIACHI,SODT=@SODT,NGAYVL=@NGAYVL_,TRANGTHAI=@TRANGTHAI
	WHERE MANV=@MANV
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEUSER]    Script Date: 25/12/2018 06:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATEUSER]
@MANHOM INT,@MANV INT, @MATKHAU NVARCHAR(100)
AS
BEGIN
	UPDATE NGUOIDUNG
	SET MANHOM=@MANHOM,MATKHAU=@MATKHAU
	WHERE MANV=@MANV
END

GO
USE [master]
GO
